body {
    font-family: DINNextLTArabic-Medium, sans-serif !important;
    background-color: white;
    direction: ltr;
    text-align: left;
}

.form-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

select#service {
    width: 100%;
}

h2 {
    text-align: center;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    width: auto;
    padding: 8px 20px;
    background: #dc4726;
    color: white;
    border: none;
    cursor: pointer;
}
textarea#details {
    border: 1px solid #dc4726 !important;
}

.red {
    color: #dc4726;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 10px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../Assets/Calender.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(0.3) sepia(1) saturate(6) hue-rotate(350deg);
}
.form-group {
    margin-bottom: 0 !important;
}
.footer {
    background-color: #dc4726;
    padding: 15px;
}
.icons_bar a {
    padding: 2px 10px !important;
}
.footer .image {
    width: auto;
    height: 50px;
}
.footer .image img {
    max-width: 100%;
    max-height: 100%;
}
.icons_bar a img {
    width: 20px;
}
#menuHeader {
    background-color: #e7e8e9;
    z-index: 100;
    transition: allease .4s;
    border-bottom: 5px solid #dc4726;
}
.menu-header {
    padding-top: 30px;
}
.menu-header .top {
    display: flex
;
    justify-content: space-between;
    align-items: center;
}
.menu-header .image, .footer .image {
    width: auto;
    height: 50px;
}
button.btn.theme-btn {
    border: 2px solid #fdbd3f;
}
.E-lang {
    font-family: auto;
    display: block;
}
a {
    text-decoration: none;
    color: #333;
}
.menu-header .image img, .footer .image img {
    max-width: 100%;
    max-height: 100%;
}
.dropdown {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.dropbtn {
    background-color: transparent;
    color: #dc4726;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropbtn img {
    height: 20px;
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 5px 0;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #dc4726;
    margin-left: 5px;
}

.containertop {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    width: 100% !important;
    padding-right: 60px !important;
    padding-left: 60px !important;
    margin-right: auto !important;
    margin-left: auto !important;
   }
.from{
    align-items: baseline;
    gap: 10px;
}
h5.modal-title {
    font-weight: bold;
}
#map{
  height: 250px;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; 
  max-height: 80vh;
  overflow-x: hidden; 
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#saveAddressBtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#saveAddressBtn:hover {
  background-color: #45a049;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(201, 195, 195, 0.7); 
  backdrop-filter: blur(5px);
  z-index: 9998;
  display: none;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border: 8px solid #f3f3f3;
  border-top: 8px solid #dc4726;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 9999; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.address-label{
    color: green;
    font-size: 13px;
    cursor: pointer;
}
.create{
    color: green; 
}
@media (max-width: 767px) {
   
    .form-container {
        width: 100%;
    }
    .containertop {
        padding: 15 !important;
    }
    .menu-header .top {
        display: flex;
        justify-content: space-between;
    }
    .footer .d-flex.container {
        display: flex;
        padding: 0;
    }
    .footer .d-flex.container .col:first-child {
        display: none;;
    }
    .containertop {
        padding: 15px  !important;
    }
  }

  @font-face {
    font-family: 'DINNextLTArabic-Medium';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../Style/fonts/DINNextLTArabic-Medium.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DINNextLTArabic-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../Style/fonts/DINNextLTArabic-Medium.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DINNextLTArabic-Medium';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../Style/fonts/DINNextLTArabic-Medium.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'DINNextLTArabic-Medium';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../Style/fonts/DINNextLTArabic-Medium.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


